body {
  color: black;
  overflow: hidden;
  font-family: Helvetica;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

.centr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 100vh;
  background-color: #2b2b2b;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside .aside__user {
  list-style: none;
  margin-top: 30px;
  position: relative;
}

.aside .aside__item {
  list-style: none;
  margin-top: 10px;
}

.aside .aside__link {
  color: #4c6474;
  text-decoration: none;
}

.aside .aside__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside .aside__circle_l {
  width: 10px;
  color: #4c6474;
}

.aside .medi {
  text-align: center;
}

.aside .media {
  text-align: center;
  position: relative;
}

.aside .media-log {
  text-align: center;
}

.aside .media:hover {
  text-align: center;
  -webkit-transition: 150ms;
  transition: 150ms;
  border-left: 5px solid red;
}

.aside .media:hover strong {
  color: #fff;
}

.aside .media:hover svg {
  fill: red;
}

.aside .media-log:hover {
  text-align: center;
}

.aside .media-log:hover strong {
  color: #fff;
}

.aside .media-log:hover svg {
  fill: red;
}

.aside .media-menu {
  text-align: center;
  position: relative;
}

.aside .media__img {
  position: relative;
}

.aside .media__massage {
  position: absolute;
  top: -8px;
  right: 25px;
  width: 25px;
  height: 25px;
  background-color: #ff503f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 14px;
}

.aside .media__content {
  padding: 0;
  margin: 0;
}

.aside .icon {
  width: 40px;
  height: 40px;
  fill: #4c6474;
}

.aside .icon-th-menu {
  position: relative;
}

.aside .media__massageMenu {
  position: absolute;
  right: 25px;
  width: 25px;
  top: -15px;
  height: 25px;
  background-color: #adadad;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #d3d7da;
  background-color: #f8f8f8;
}

.head .head__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2%;
}

.head .head__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2%;
}

.head .head__update {
  width: 40px;
  height: 40px;
  background-color: #ff503f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.head svg {
  width: 20px;
  height: 20px;
}

.head .icon-rotate {
  fill: #fff;
}

.head .head__dashboard {
  width: 120px;
  border: 1px solid #a4a4a4;
  text-align: center;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  outline: none;
  margin-left: 10px;
}

.head .head__arrow {
  width: 40px;
  height: 40px;
  background-color: #aacc4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.head .head__users {
  width: 180px;
  border: 1px solid #a4a4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  outline: none;
  margin-left: 10px;
}

.head .head__user_text {
  margin-left: 5px;
}

.main {
  height: auto;
}

.main input {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.main .main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  background-color: #f8f8f8;
}

.main .main__header svg {
  width: 40px;
  height: 40px;
}

.main .main__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .main__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12%;
}

.main .main__last_input {
  width: 240px;
}

.main .main__tab {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #d3d7da;
  position: relative;
  background-color: #f8f8f8;
  padding-right: 15px;
}

.main .main__tab--active {
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding-right: 35px;
}

.main .media__massageGray {
  position: absolute;
  top: 10px;
  right: 34px;
  background-color: #adadad;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 25px;
  height: 25px;
}

.main .main__tab_text {
  margin-left: 10px;
}

.main .media__massageRed {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 25px;
  height: 25px;
  background-color: #ff503f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.main-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  border: 1px solid #d3d7da;
  margin-left: 2%;
  margin-top: 2%;
  border-radius: 2px;
}

.main-project .main-cont {
  max-height: 35vw;
  width: 100%;
  overflow: scroll;
}

.main-project .project__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-project .project__head svg {
  width: 20px;
  height: 20px;
}

.main-project .project__first {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-project .project__first_input {
  width: 100%;
}

.main-project .project__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-project .project__last-new {
  width: 75%;
  border: 1px solid #a4a4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: transparent;
  border-radius: 20px;
  outline: none;
  margin-left: 10px;
}

.main-project .project__last__add {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff503f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.main-project .project__last__add svg {
  width: 10px;
  height: 10px;
}

.main-project .project__item {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #d3d7da;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-project .project__item--disable {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #d3d7da;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
}

.main-project .project__before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-project .project__before svg {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.main-project .project__first_percent {
  width: 50px;
  height: 30px;
  background-color: #ff503f;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.main-project .project__first_percent--disable {
  width: 50px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a2b7c6;
  border: 1px solid #d3d7da;
}

.main-project .project__first_text {
  margin-left: 10px;
}

.main-project .project__first_text--twoLine {
  margin-left: 10px;
  width: 270px;
}

.main-project .project__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-project .project__next svg {
  width: 15px;
  height: 15px;
}

.main-project .project__next_text {
  width: auto;
  padding: 0px 30px 0px 30px;
  border: 1px solid #a4a4a4;
  text-align: center;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  outline: none;
  margin-left: 10px;
  text-transform: uppercase;
}

.main-project .project__next_text--disable {
  width: auto;
  padding: 0px 30px 0px 30px;
  border: 1px solid #a4a4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  outline: none;
  margin-left: 10px;
  text-transform: uppercase;
}

.main-project .project__next_text--disable svg {
  width: 15px;
  height: 15px;
}

.main-project .project__next_text--disable strong {
  margin-left: 5px;
}

.main-project .project__next_search {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #a4a4a4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  -webkit-transition: 150ms;
  transition: 150ms;
  cursor: pointer;
}

.main-project .project__first_percent--disabl {
  font-size: 10px;
  width: 50px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a2b7c6;
  border: 1px solid #d3d7da;
}

.main-project .project__next_search:hover {
  background-color: #ff503f;
  border: 1px solid #ff503f;
}

.main-project .project__next_search:hover svg {
  fill: #fff;
}

.main-project .project__next_down {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #a4a4a4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.main-project .project__next_down svg {
  width: 25px;
  height: 25px;
}

.main-project .project__next_down:hover {
  background-color: #ff503f;
  border: 1px solid #ff503f;
}

.main-project .project__next_down:hover svg {
  fill: #fff;
}

.main-project .project__item__add {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #a4a4a4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  -webkit-transition: 150ms;
  transition: 150ms;
  cursor: pointer;
}

.main-project .project__first_text--didsable {
  color: #a4a4a4;
  margin-left: 10px;
}

.main-project .project__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border-top: 1px solid #d3d7da;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-project .project__footer_link {
  color: #4b4b4b;
  text-decoration: none;
  border-bottom: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.main-project .project__footer_link svg {
  width: 20px;
  height: 20px;
}

.main-project .project__footer_link:hover {
  color: red;
}

.main-project .project__footer_link:hover svg {
  fill: red;
}

.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 420px;
  width: 100%;
  height: 100%;
  border: 1px solid #d3d7da;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 2px;
}

.activity .activity-cont {
  max-height: 35vw;
  width: 100%;
  max-width: 420px;
  overflow: scroll;
}

.activity .activity__item {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid #d3d7da;
  padding-left: 20px;
  padding-right: 20px;
}

.activity .activity__item_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity .activity__item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.activity .activity__item_text p {
  padding: 0;
  margin: 0;
  color: #909090;
}

.activity .activity__item_text--head {
  color: #909090;
}

.activity .activity__item_text--name {
  color: #4b4b4b;
}

.activity .activity__item_text--day {
  color: #8da5b6;
  text-transform: uppercase;
  font-size: 14px;
}

.activity .project__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border-top: 1px solid #d3d7da;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity .project__footer_link {
  color: #4b4b4b;
  text-decoration: none;
  border-bottom: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity .project__footer_link svg {
  width: 20px;
  height: 20px;
}

.activity .project__footer_link:hover {
  color: red;
}

.activity .project__footer_link:hover svg {
  fill: red;
}
/*# sourceMappingURL=style.css.map */